<template>
  <div class="container my-5">
    <ModalCategorias />
    <TablaCategorias />
  </div>
</template>

<script>
import TablaCategorias from "./TablaCategorias";
import ModalCategorias from "./ModalCategoria"
export default {
  components: {
    TablaCategorias,
    ModalCategorias
  },
  data() {
    return {};
  }
};
</script>

<style>
</style>
