<template>
  <div>
    <!-- Button trigger modal -->

    <div class="row justify-content-between mb-4 mx-0">
      <h4>Lista de Categorías</h4>
      <button
        class="btn btn-outline-info"
        data-toggle="modal"
        data-target="#exampleModal"
      >Crear Categoría</button>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Crear Categoria</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleFormControlInput1">Nombre</label>
              <input
                v-model="formdata.name"
                type="text"
                required
                class="form-control"
                id="exampleFormControlInput1"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Descripción</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                v-model="formdata.descripcion"
                rows="3"
              ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-info" @click="guardar()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      formdata:{
      name: "",
      descripcion: ""
      },
      
    };
  },
  methods: {
    guardar() {
        axios.post('http://localhost:8000/api/categorias',this.formdata).then(function (response) {
          console.log(response)
        });
    }
  }
};
</script>

<style>
</style>
