<template>
    <form>
      <div class="form-group">
        <h1 class="titulo text-center">Crear Blog</h1>
        <label for="exampleFormControlInput1">Titulo</label>
        <input
        v-model="formdata.titulo"
          type="text" required
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Ingrese el titulo del post"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Etiqueta</label>
        <input
        v-model="formdata.etiqueta"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Ingrese el nombre de la etiqueta"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Categoria</label>
        <select class="form-control" id="exampleFormControlSelect1"
        v-model="formdata.categoria">
          <option>1</option>
          <option>2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripción</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
        v-model="formdata.descripcion"></textarea>
      </div>
     <div class="row justify-content-center">
          <button type="button" class="btn btn-outline-info" @click="crearpost">Ingresar</button>
      </div>
    </form>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      formdata: {
        titulo: "",
        etiqueta: "",
        categoria: "",
        descripcion: ""
      }
    };
  },
  methods: {
    crearpost() {
      axios
        .post("http//localhost:8000/api/post", this.formdata)
        .then(function(response) {
          console.log(response);
        });
    }
  }
};
</script>

<style>
h1 {
  font-weight: bold;
}
</style>