<template>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Correo Electronico</label>
        <input
          v-model="formdatos.email"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="ingrese su correo electrónico"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input
          v-model="formdatos.password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Ingrese la contraseña"
        />
      </div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-outline-info" @click="ingresar">Ingresar</button>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      formdatos: {
        email: "",
        password: ""
      }
    };
  },
  
};
</script>

<style>
</style>