<template>
  <div>
    <router-view />
  </div>
</template>

<script>
import Navbar from "./components/NavbarComponent";
import Categorias from "./components/categorias/Categorias";
import Login from "./components/Login/loginComponent";
import Post from "./components/Post/PostComponent";
export default {
  components: {
    Navbar,
    Categorias,
    Login,
    Post
  },
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  }
};
</script>

<style>
</style>
